/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.my-background {
    background-color: #1E1F22;
    background-size: cover;
    background-repeat: no-repeat;
}
.hover-underline:hover {
    text-decoration: underline !important;
}


/* header */
header{
    background-color: #294d6f6b;
    padding: 0px 0px;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 10px #aec3b050;
    z-index: 100;
}
.nav-link:hover  {
    
    background-color: #10263a69 ;
}
.my-navbar {
    background-color: #03050350; 
}


/* main */

/* section profil */

.pro-portrait {
    max-height: 70%;
}

/* section accueil */
.maphoto {
    width: 300px;
    height: 350px;
    object-fit: cover; 
}

/* section compétence */
.comp-ico {
    color: #FFF;
    font-size: 40px;
}



/* footer */