/* Global */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.my-background {
    background-color: #1E1F22;
    background-size: cover;
    background-repeat: no-repeat;
}
.hover-underline:hover {
    text-decoration: underline !important;
}
/* Police pour les titres */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* Police pour le texte */
body, p, li, span {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
/* header */
header {
    background-color: #1E1F22;
    padding: 0px 0px;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 10px #aec3b050;
    z-index: 100;
}
.nav-link:hover {
    background-color: #10263a69;
}
.my-navbar {
    background-color: #03050350;
}

/* main */

/* section profil */

.pro-portrait {
    max-height: 100%;
    border-radius: 2px;
}

.desc-style {
    font-size: larger;
    padding: 10px;
}

/* section accueil */

/* section compétence */
.comp-ico {
    color: #FFF;
    font-size: 40px;
}

/* section portfolio */
.carousel-item img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.5s ease-in-out;
}

.carousel-item img:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .carousel-item img {
        max-height: 300px;
    }
}

@media (max-width: 576px) {
    .carousel-item img {
        max-height: 200px;
    }
}

.carousel-caption h5, 
.carousel-caption p {
    color: #fff; /* couleur du texte blanc */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6); /* ombre améliore la lisibilité */
}

.carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333;
}

.carousel-indicators .active {
    background-color: #fff;
}

.cdescript {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

/* footer */
.social-icons a {
    margin: 0 10px;
}